# Arduino
/firmware/Bodenfeuchtigkeit/config.h

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
venv/
.env
env/

# Flask
instance/
.webassets-cache

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
*.xml
worksßpace.xml


# Datenbank
*.db
*.sqlite
*.sqlite3


# Logs
*.log

