:root {
    --main-color: #FD7014;
    --accent-color: #505868;
    --secondary-color: #EEEEEE;
    --background: #222831;
}

/* Basis-Styles */
body {
    background: var(--background);
    color: var(--secondary-color);
}

/* Container und Card */
.login-card {
    background: var(--accent-color);
    color: var(--secondary-color);
}

/* Icon */
.login-icon {
    background: var(--main-color) url('../assets/img/food.svg') center/contain no-repeat !important;
}


/* Form-Inputs */
.login-input {
    background: var(--secondary-color);
    color: var(--background);
}

/* Button */
.login-button {
    background: var(--main-color);
    color: var(--secondary-color);
    border-style: none;
}

.login-button:hover {
    background: var(--main-color);
}

#footer-container{
    margin: auto;
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 100%;

}

#copyright-container{
    margin: auto;
    text-align: right;
    color: var(--secondary-color);
}