<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
</head>
<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Micha's Paprika</h2>
                    <p>Einloggen um die Daten meiner Paprika Pflanze zu sehen.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5 login-card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary my-4 bs-icon login-icon"></div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} w-100">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form class="text-center w-100" method="POST">
                                <div class="mb-3">
                                    <input class="form-control login-input" type="text" name="username"
                                           placeholder="Benutzername" required autofocus>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control login-input" type="password" name="password"
                                           placeholder="Passwort" required>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary w-100 d-block login-button" type="submit">
                                        Anmelden
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
<footer>
    <div id="footer-container">
        <div id="copyright-container">
            <p>©{{ yearnow }} | Michael Karnitzschky</p>
        </div>
    </div>
</footer>
</html>